* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 142, 142);
}

:root {
  --bgcolor: #051923;
  --maincolor: #780000;
}
#hero,
#About-me,
#Service,
#Contact {
  /* border: 1px solid orange; */
  padding: 30px 0;
  /* border: 1px solid red; */
}
.container {
  color: white;
  width: 50%;
  margin: auto;
}
.section-heading {
  text-align: center;
  font-size: 30px;
}

#hero .container {
  /* border: 1px solid var(--maincolor); */
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: var(--bgcolor);
  border: 6px solid rgb(255, 255, 255);
  border-radius: 15px;
  overflow: hidden;
}
#hero .container .content {
  /* border: 1px solid var(--maincolor); */
  flex-basis: 60%;
  text-align: center;
  color: rgb(158, 86, 86);
}
#hero .container .content,
h3,
h1,
p {
  margin-bottom: 15px;
}
#hero .container .content .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#hero .container .img-div {
  /* border: 1px solid var(--maincolor); */
  flex-basis: 40%;
  height: 100%;
}

#hero .container .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60% 0%;
}

/* ABOUT section */
#About-me .container {
  display: flex;
  /* color: white; */
  /* border: 1px solid green; */
}
#About-me .container > div {
  /* border: 1px solid orange; */
  flex-basis: 50%;
}

#About-me .container .img-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  /* box-shadow: 2px 3px 10px black; */
  margin: auto;
  display: flex;
  transform: scale(0.9) translateZ(-30px) rotateX(10deg); /* Initially pushed backward */
      transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#About-me .container .img-wrapper img:hover {
  transform: scale(1) translateZ(0) rotateX(0deg); /* Moves forward and returns to normal */
  box-shadow: 2px 3px 10px black; /* Add a shadow for more depth */
}
/* #SKILL SECTION */
#Skills .container {
  display: flex;
  /* margin-left: 250px; */
  align-items: center;
}
#Skills .container > div {
  flex-basis: 50%;
  /* border: 1px solid red; */
}

#Skills .container .content .skill-list {
  list-style-type: none;
  margin-bottom: 20px;
}
#Skills .container .content .skill-list .skill-items {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 4px;
  display: inline-block;
  padding: 10px;
  backdrop-filter: blur(5px);
  font-weight: bold;
  border-radius: 5px;
  color: black;
  transition: transform 0.3s ease, background-color 0.5s ease;
}

#Skills .container .content .skill-list .skill-items:hover {
  background-color: #f0f0f0;
  transform: scale(1.15);

}

#Skills .container .img-div img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 7px;
}

/* Service Section */
#Service .container {
  display: flex;
  gap: 30px;
}

#Service .container > div {
  /* border: 1px solid green; */
  flex-basis: 33.3%;
}
#Service .container .card-wrapper .card {
  /* border: 1px solid orange; */
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: #0f0326;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.5s ease, color 0.5s ease;
}

#Service .container .card-wrapper .card:hover {
  transform: scale(1.05);
  background-color: #e56399;
  color: #00ffea;
}

#Service .container .card-wrapper .card svg,
h3,
p {
  margin-bottom: 10px;
}

/* Contact Section */
#Contact .container {
  display: flex;
}

#Contact .container > div {
  /* border: 1px solid orange; */
  flex-basis: 50%;
}

#Contact .container .content .contact-list {
  list-style-type: none;
  gap: 5px;
}

#Contact .contact-list-items {
  margin: 15px 0;
  align-items: center;
  gap: 10px;
}

#Contact .contact-list-items span {
  color: #240046;

}

#Contact .mb-3 {
  margin-bottom: 10px;
  
}

#Contact .mb-3:first-child {
  display: flex;
}
#Contact .input {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  backdrop-filter: blur(40px);
  background-color: var(--bgcolor);
  color: white;
}
#Contact .input-1 {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  margin-right: 10px;
  backdrop-filter: blur(40px);
  background-color: var(--bgcolor);
  color: white;
}
#Contact .textarea {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  margin-right: 10px;
  background-color:  #219ebc;
  color: rgb(0, 0, 0);
}

#Contact .btn {
 border: 1px solid black;
 border-radius: 10px;
 background-color: #fb00004f;
 padding: 10px 20px;
 font-weight: bold;
display: flex;
 cursor: pointer;
 margin: auto;
 transition: transform 0.3s ease, background-color 0.5s ease;
 color: #f72585;
 font-weight: bold;
}

#Contact .btn:hover {
  background-color: rgba(0, 255, 0, 0.651);
  transform: scale(1.15);
}

/* #footer Section */
#Footer {
  background-color: #333d29;
  color: white;
  padding: 30px;
}
#Footer .container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

#Footer .container p {
  color: #5a189a;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#Footer .container > div {
  flex-basis: 33.33%;
  text-align: center;
  /* border: 1px solid rebeccapurple; */
  color: #e4c1f9;
  font-weight: bold;
  margin-bottom: 10px;
}

#Footer .link-list {
  list-style-type:   none;
}
#Footer .link-list-items {
  margin: 22px;

}

#Footer .link-list-items a {
  text-decoration: none;
  color: #a9def9;
}


#Footer .social-icons {
  gap: 15px;
}/* Contact Section */
#Contact .container {
  display: flex;
}

#Contact .container > div {
  /* border: 1px solid orange; */
  flex-basis: 50%;
}

#Contact .container .content .contact-list {
  list-style-type: none;
  gap: 5px;
}

#Contact .contact-list-items {
  margin: 15px 0;
  align-items: center;
  gap: 10px;
}

#Contact .contact-list-items span {
  color: #240046;
}

#Contact .mb-3 {
  margin-bottom: 10px;
}

#Contact .mb-3:first-child {
  display: flex;
}
#Contact .input {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  backdrop-filter: blur(40px);
  background-color: var(--bgcolor);
  color: white;
}
#Contact .input-1 {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  margin-right: 10px;
  backdrop-filter: blur(40px);
  background-color: var(--bgcolor);
  color: white;
}
#Contact .textarea {
  padding: 15px 15px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
  margin-right: 10px;
  background-color: #219ebc;
  color: rgb(0, 0, 0);
}

#Contact .btn {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fb00004f;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  margin: auto;
  transition: transform 0.3s ease, background-color 0.5s ease;
  color: #f72585;
  font-weight: bold;
}

#Contact .btn:hover {
  background-color: rgba(0, 255, 0, 0.651);
  transform: scale(1.15);
}

/* #footer Section */
#Footer {
  background-color: #333d29;
  color: white;
  padding: 30px;
}
#Footer .container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

#Footer .container p {
  color: #5a189a;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#Footer .container > div {
  flex-basis: 33.33%;
  text-align: center;
  /* border: 1px solid rebeccapurple; */
  color: #e4c1f9;
  font-weight: bold;
  margin-bottom: 10px;
}

#Footer .link-list {
  list-style-type: none;
}
#Footer .link-list-items {
  margin: 22px;
}

#Footer .link-list-items a {
  text-decoration: none;
  color: #a9def9;
}

#Footer .social-icons {
  gap: 15px;
}

